body {
color:red;
background-color:purple;
}

.heading {
    width: 50%;
    font-size:22px ;
    background-color: hotpink;

}

#camera{
    border:solid red;
    width: 350px;
    height: 350px;

}
 
#result_object_name,#result_object_accuracy,.name_of_objects{
    color:yellow;
}

.name_of_objects{ font-size:20;}